---

---
<header>
  <a href="/" class="logo"><img src="/assets/images/logo.svg" alt="上方日本酒ワールド2025" width="256" height="192">
  </a>
</header>


<style>
  .logo {
    display: block;
      padding: 1rem;
      text-align: center;
  }
</style>