---

---
<nav>
  <ul>
    <li><a href="/">ホーム</a></li>
    <li><a href="/#store">参加店舗一覧</a></li>
    <li><button type="button" class="button">チケットを購入</button></li>
  </ul>
</nav>

<style>
    nav {
        display: none;
    }
</style>